@page
@model PACOMUrlShortener.Pages.Urlshorteners.EditModel

@{
        ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Urlshortener.AutoId" />
            <input type="hidden" asp-for="Urlshortener.Token" />
            <input type="hidden" asp-for="Urlshortener.Clicked" />
            <input type="hidden" asp-for="Urlshortener.CreatedTimeStamp" />
            <div class="form-group">
                <label asp-for="Urlshortener.Url" class="control-label"></label>
                <input asp-for="Urlshortener.Url" class="form-control" readonly />
                <span asp-validation-for="Urlshortener.Url" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Urlshortener.ShortUrl" class="control-label"></label>
                <input asp-for="Urlshortener.ShortUrl" class="form-control" readonly />
                <span asp-validation-for="Urlshortener.ShortUrl" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Urlshortener.ExpiredDateTime" class="control-label"></label>
                <input asp-for="Urlshortener.ExpiredDateTime" class="form-control" />
                <span asp-validation-for="Urlshortener.ExpiredDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a class="btn btn-primary col-md-3" asp-controller="urlshorteners" asp-action="RefreshToken"
                   asp-route-id="@Model.Urlshortener.AutoId">Refresh Token</a>
                <input type="submit" value="Save" class="btn btn-primary col-md-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
